$CONFIG_REQUIRE_SITE_URL: "https://www.examplewebsite.com";
$CONFIG_OPTION_PATH_IGNORE_PACKAGE_0: "example";
$CONFIG_OPTION_TOC_COLLAPSIBLE: true;
$CONFIG_CUSTOM_BRAND_NAME: "Staticus Website Compiler Full Example";
$CONFIG_CUSTOM_BRAND_SLOGAN: "A full demonstration of Staticus Website Compiler.";
$CONFIG_CUSTOM_BRAND_COLOR: #555555;
$CONFIG_CUSTOM_BRAND_EMAIL: "example@email.com";
$CONFIG_CUSTOM_BRAND_PHONE: "+1 (555) 555-5555";
$CONFIG_CUSTOM_BRAND_LOCATION_ADDRESS: "United States";
$CONFIG_CUSTOM_BRAND_LOCATION_ZOOM: "";
$CONFIG_CUSTOM_BRAND_COPYRIGHT_YEARS: "2024-2025";
$CONFIG_CUSTOM_BRAND_SOCIAL_0_NAME: "LinkedIn";
$CONFIG_CUSTOM_BRAND_SOCIAL_0_LINK: "https://www.linkedin.com/in/examplewebsite";
$CONFIG_CUSTOM_BRAND_SOCIAL_1_NAME: "Facebook";
$CONFIG_CUSTOM_BRAND_SOCIAL_1_LINK: "https://www.facebook.com/examplewebsite";
$CONFIG_CUSTOM_BRAND_SOCIAL_2_NAME: "X";
$CONFIG_CUSTOM_BRAND_SOCIAL_2_LINK: "https://www.x.com/examplewebsite";
$CONFIG_CUSTOM_BRAND_SOCIAL_3_NAME: "YouTube";
$CONFIG_CUSTOM_BRAND_SOCIAL_3_LINK: "https://www.youtube.com/examplewebsite";
$CONFIG_CUSTOM_BRAND_SOCIAL_4_NAME: "Instagram";
$CONFIG_CUSTOM_BRAND_SOCIAL_4_LINK: "https://www.instagram.com/examplewebsite";
$CONFIG_CUSTOM_BRAND_ABOUT_0: "This is the first paragraph of the about page.";
$CONFIG_CUSTOM_BRAND_ABOUT_1: "This is the second paragraph, providing more details.";
$CONFIG_CUSTOM_BRAND_ABOUT_2: "This is yet another paragraph to elaborate on the topic.";
$CONFIG_CUSTOM_SITE_AUTHOR_NAME: "Example Author";
$CONFIG_CUSTOM_SITE_AUTHOR_URL: "https://www.exampleauthor.com";
$CONFIG_CUSTOM_SITE_AUTHOR_COPYRIGHT_YEARS: "2024-2025";
$CONFIG_CUSTOM_SITE_COLOR_BG: #333333;
$CONFIG_CUSTOM_SITE_COLOR_BG_NAV: #555555;
$CONFIG_CUSTOM_SITE_COLOR_FG: #ffffff;
$CONFIG_CUSTOM_SITE_COLOR_TEXT: #ffffff;
$CONFIG_CUSTOM_SITE_COLOR_LINK: #aaccff;