$font-icon--browser-brave: "\E001";
$font-icon--color--browser-brave: #fb542b;
$font-icon--browser-chrome: "\E002";
$font-icon--color--browser-chrome: #4285f4;
$font-icon--browser-edge: "\E003";
$font-icon--color--browser-edge: #3277bc;
$font-icon--browser-firefox: "\E004";
$font-icon--color--browser-firefox: #e66000;
$font-icon--browser-internet-explorer: "\E005";
$font-icon--color--browser-internet-explorer: #1ebbee;
$font-icon--browser-opera: "\E006";
$font-icon--color--browser-opera: #ff1b2d;