$font-icon--interface-arrow_down: "\E001";
$font-icon--interface-arrow_fill_down: "\E002";
$font-icon--interface-arrow_fill_down_circle: "\E003";
$font-icon--interface-download: "\E004";
$font-icon--interface-external: "\E005";
$font-icon--interface-home: "\E006";
$font-icon--interface-link: "\E007";
$font-icon--interface-menu: "\E008";