$font-icon--social-discord: "\E001";
$font-icon--color--social-discord: #5865f2;
$font-icon--social-facebook: "\E002";
$font-icon--color--social-facebook: #3b5998;
$font-icon--social-google-meet: "\E003";
$font-icon--color--social-google-meet: #00Ac47;
$font-icon--social-instagram: "\E004";
$font-icon--color--social-instagram: #e4405f;
$font-icon--social-linkedin: "\E005";
$font-icon--color--social-linkedin: #0077b5;
$font-icon--social-slack: "\E006";
$font-icon--color--social-slack: #4a154b;
$font-icon--social-twitch: "\E007";
$font-icon--color--social-twitch: #6441a5;
$font-icon--social-x: "\E008";
$font-icon--color--social-x: #ffffff;
$font-icon--social-youtube: "\E009";
$font-icon--color--social-youtube: #ff0000;