$font-icon--system-android: "\E001";
$font-icon--color--system-android: #a4c639;
$font-icon--system-debian: "\E002";
$font-icon--color--system-debian: #ce0058;
$font-icon--system-ios: "\E003";
$font-icon--color--system-ios: #8e8e93;
$font-icon--system-linux: "\E004";
$font-icon--color--system-linux: #ffcc33;
$font-icon--system-macos: "\E005";
$font-icon--color--system-macos: #a2aaad;
$font-icon--system-windows: "\E006";
$font-icon--color--system-windows: #00a4ef;