$CONFIG_REQUIRE_SITE_URL: "https://www.examplewebsite.com";
$CONFIG_CUSTOM_BRAND_NAME: "Staticus Website Compiler Minimum Example";
$CONFIG_CUSTOM_BRAND_SLOGAN: "A minumum demonstration of Staticus Website Compiler.";
$CONFIG_CUSTOM_BRAND_COLOR: #555555;